<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/assets/css/styles.css" />

        <script type="importmap">
            {
              "imports": {
                "@joist/di": "/node_modules/@joist/di/target/lib.js",
                "@joist/di/": "/node_modules/@joist/di/target/lib/",
                "@joist/element": "/node_modules/@joist/element/target/lib.js",
                "@joist/element/": "/node_modules/@joist/element/target/lib/",
                "@joist/observable": "/node_modules/@joist/observable/target/lib.js",
                "@joist/observable/": "/node_modules/@joist/observable/target/lib/",
                "tslib": "/node_modules/tslib/tslib.es6.js"
              }
            }
        </script>

        <script>
            {% include "@noctuatech/uswds/assets/uswds.min.js" %}
        </script>
        
        <title>Document</title>
    </head>

    <body>
        <template shadowrootmode="open">
            <link rel="stylesheet" href="/assets/css/shell.css" />

            <div style="height: 0; width: 0; overflow: hidden;" aria-hidden="true">
                Safari Streaming Hacl: \u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b\u200b
            </div>

            <slot name="heading"></slot>
            
            <main>
                <aside>
                    <slot name="aside"></slot>
                </aside>
                
                <div class="content">
                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-1">
                            <div class="loading"></div>
                        </slot>
                    </div>

                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-2">
                            <div class="loading"></div>
                        </slot>
                    </div>

                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-3">
                            <div class="loading"></div>
                        </slot>
                    </div>

                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-4">
                            <div class="loading"></div>
                        </slot>
                    </div>

                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-5">
                            <div class="loading"></div>
                        </slot>
                    </div>

                    <div class="dashboard-card">
                        <slot class="content-slot" name="content-6">
                            <div class="loading"></div>
                        </slot>
                    </div>
                </div>
            </main>

            <footer>
                <slot name="footer"></slot>
            </footer>
        </template>

        <header slot="heading">Hello World</header>

        <ul slot="aside">
            <li>first</li>
            <li>second</li>
            <li>third</li>
            <li>fourth</li>
        </ul>
    </body>
</html>